@page
@model BerserkCodesGDVTSM.Views.Clienteos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].FechaHora_de_registro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Tipo_Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cliente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora_de_registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Cliente)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id_Persona">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id_Persona">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id_Persona">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
