@page
@model BerserkCodesGDVTSM.Views.Detalle_productoes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detalle_Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle_Producto.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detalle_Producto.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle_Producto.Tipo_De_Uso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detalle_Producto.Tipo_De_Uso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle_Producto.Durabilidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detalle_Producto.Durabilidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle_Producto.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detalle_Producto.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle_Producto.Estampado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detalle_Producto.Estampado)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Detalle_Producto?.Id_Detalle_Producto">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
